// variables-color
$black: #121212;

// colores-lightmode
$light-text-a: #8d9cb5;
$light-text-b: #8d9cb5;
$light-container: #ebf3fa;
$light-gradient-a: #DFE7EE;
$light-gradient-b: #F5FDFF;
$light-bg: #d4e0ee;
$light-shadow: #ccdaea;

// colores-darkmode
$dark-text-a: #a5acb2;
$dark-text-b: #6b7781;
$dark-container: #323a42;
$dark-gradient-a: #2c333a;
$dark-gradient-b: #38414a;
$dark-bg: #202428;
$dark-shadow: #1d2125;